{% extends 'base.html' %}
<!-- content  -->
{% block content %}

<div class="my-4 py-5 flex flex-col items-center">
  <h1 class="text-2xl font-bold mb-4">Create an Account</h1>
  {% if form.errors %}
  <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
  >
    <ul class="list-disc pl-5">
      {% for error in form.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form class="w-full max-w-md" method="POST">
    {% csrf_token %}
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="username"
        >Username</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        type="text"
        placeholder="Enter your username"
        name="username"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="email"
        >Email</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Enter your email"
        name="email"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="password"
        >Password</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        placeholder="Enter your password"
        name="password1"
      />
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="confirm_password"
        >Confirm Password</label
      >
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="confirm_password"
        type="password"
        placeholder="Confirm your password"
        name="password2"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >
        Register
      </button>
    </div>
  </form>
  <p class="mt-4 text-center">
    Already have an account?
    <a class="font-bold text-blue-500 hover:text-blue-800" href="#">Log in</a>
  </p>
</div>
{% endblock %}
