{% extends 'base.html' %}

<!-- start content  -->

{% block content %}

<!-- check if the user already logging -->
{% if request.user.is_authenticated %}

<script>
  window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}
<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-md">
    <div class="bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-xl font-semibold mb-6">Password Reset</h1>
      {% if form.errors %}
      <div
        class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6"
        role="alert"
      >
        <p class="font-bold">Error:</p>
        <p>{{ form.errors.first }}</p>
      </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="new_password1">
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="new_password1"
            type="password"
            name="new_password1"
            placeholder="Password"
            required
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="password2">
            Confirm Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="new_password2"
            type="password"
            name="new_password2"
            placeholder="confirm password"
            required
          />
        </div>
        <div class="mb-4">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            confirm password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
