{% extends 'base.html' %}

<!-- content -->
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="{{product.image.url}}"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">
          {{product.category.name}}
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{product.title|title}}
        </h1>
        <div class="flex mb-4"></div>
        <p class="leading-relaxed mt-4">{{product.description|slice:":255"}}</p>
        <div
          class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5"
        >
          <div class="flex ml-6 items-center">
            <span class="mr-3">Order Product</span>
            <div class="relative">
              <input
                type="number"
                name=""
                id=""
                class="border border-gray-500 py-1 px-2 rounded"
                max="10"
                min="0"
                value="1"
              />
            </div>
          </div>
        </div>

        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900"
            >${{product.price}}</span
          >
          <a
            class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-8 focus:outline-none hover:bg-indigo-600 rounded"
          >
            Buy
          </a>
          <!-- <a
            class="flex ml-4 text-white bg-indigo-500 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded"
          >
            Order
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
