{% load i18n %}{% autoescape off %}
<!-- block translate -->
{% blocktranslate %}You're receiving this email because you requested a password
reset for your user account at {{ site_name }}.{% endblocktranslate %}
<!-- block translate -->
{% translate "Please go to the following page and choose a new password:" %}
<!-- block rest_link -->
{% block reset_link %}
<!--  -->
http://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
<!-- end  -->
{% endblock %}
<!-- block translate -->
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username
}}
<!-- block translate -->
{% translate "Thanks for using our site!" %}
<!-- block blocktranslate -->
{% blocktranslate %}The {{ site_name }} team {% endblocktranslate %}
<!-- end  -->
{% endautoescape %}
